@model IEnumerable<MVC_Grid.Models.tbl_student>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.std_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_email_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_phonenumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.std_password)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.std_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.std_age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.std_email_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.std_phonenumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.std_password)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.std_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.std_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.std_id })
        </td>
    </tr>
}

</table>
